src/main/mule/github-actions-poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c71a6680-020a-45af-ac5a-1ffc85d07f42" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="84ec1cb1-a916-45dc-aba0-a798be433c34">
		<http:request-connection host="api.quotable.io" port="443" protocol="HTTPS"/>
	</http:request-config>
	<flow name="get-random-quote" doc:id="debec8b4-1a5c-473a-b2ed-7f2230ebdb3c" >
		<http:listener doc:name="Listener" doc:id="7c187c23-63cc-44f0-8fe4-a2e73be7373e" config-ref="HTTP_Listener_config" path="/random-quote"/>
		
		<logger level="INFO" doc:name="Logger" doc:id="7452083e-f5b9-462f-94f2-0eb983fec89a" message="Request received. Getting a random quote..."/>
		<http:request method="GET" doc:name="Request" doc:id="6c554683-32f2-4be8-9d71-f899abcedac9" config-ref="HTTP_Request_configuration" path="/random"/>
		<ee:transform doc:name="Transform Message" doc:id="70b65e20-d2b2-4fa8-a709-5bc662b67cba" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"quote": payload.content,
	"author": payload.author
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e335b1aa-97dd-4fed-930c-3a31da1385ff" message="#[&quot;'&quot; ++ payload.quote ++ &quot;' - &quot; ++ payload.author]"/>
	
</flow>
</mule>